body {
    font-size: 5vh;
    color: rgb(255, 0, 153);
    height: 50vh;
}

.home-button {
    cursor: pointer;
    padding: 10px;
    border: 3px;
    border: 10px solid transparent;
    border-radius: 50%;
    /* background-color: rgb(214, 156, 50); */
    height: 35vh;
    width: 35vh;
    border: 3px solid rgb(255, 0, 153);
    color: rgb(242, 255, 0);
    /* color: rgb(255, 0, 153); */
    font-size: 3rem;
    margin: 5px;
    }

.game-play {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
    
    