body {
  font-size: 5vh;
  color: rgb(255, 0, 153);
  height: 50vh;
  font-family: 'ZCOOL KuaiLe', cursive;

}

.title {
  animation: pulse 7s infinite;
  font-family: 'ZCOOL KuaiLe', cursive;
  text-shadow: 0 0 20px rgb(231, 41, 136, 0.8)
}

.home-button {
  font-family: 'ZCOOL KuaiLe', cursive;
  cursor: pointer;
  padding: 10px 5px 3px 8px;
  border: 3px;
  border: 10px solid transparent;
  border-radius: 0%;
  /* background-color: rgb(214, 156, 50); */
  height: 20vh;
  width: 20vh;
  border: 3px solid rgb(255, 0, 153);
  color: rgb(242, 255, 0);
  /* color: rgb(255, 0, 153); */
  font-size: 3rem;
  margin: 15vh 5px 5px 5px;
  /* display: flex; */
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 20px rgb(242, 255, 0, 0.8);

  }

  @media (prefers-reduced-motion: no-preference) {
      .home-button {
        animation: home-button-spin infinite 20s linear;
      }
      .home-button p {
          animation: home-button-spin-neg infinite 20s linear;
      }
    }

.game-play {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  
@keyframes home-button-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
@keyframes home-button-spin-neg {
  0% {
    transform: rotate(0deg) scale(0.9);
  }
  50% {
    transform: rotate(-180deg) scale(1.1);
  }
  100% {
    transform: rotate(-360deg) scale(0.9);
  }
}

@keyframes pulse {
  0% {
    color: rgb(217, 0, 130);
    transform: translate(2px,-1px) rotate(1deg) scale(0.7);
  }
  25% {
    color: rgb(255, 0, 128);
    transform: translate(-4px, 2px) rotate(-2deg) scale(0.8);
  }
  75% {
    color: rgb(231, 41, 136);
    transform: translate(-2px, 3px) rotate(2deg) scale(0.85);
  }
  100% {
    color: rgb(217, 0, 130);
      transform: translate(2px, -1px) rotate(1deg) scale(0.7);
  }
}

 .rules{
  color: transparent;
}

.rules:hover{
  color: rgb(242, 255, 0);
}